.analyzes {
    display: grid;
    /* grid-template-columns: 1fr var(--bias-width) var(--bias-width); */
    grid-template-columns: 1fr var(--corr-width) var(--bias-width);
    grid-template-rows:
    700px
    1fr;
    grid-template-areas:
    "spatial temporal temporal"
    "spatial corr bias";
    text-align: center;
}

.spatial {
    grid-area: spatial;
    /* background-color: greenyellow; */
    border: 1.8px dashed rgb(102, 101, 101);
    border-radius: 3px;
    margin: 2px;
}

.temporal {
    grid-area: temporal;
    /* background-color:rgb(170, 170, 250); */
    border: 1.8px dashed rgb(102, 101, 101);
    border-radius: 3px;
    margin: 2px;
}

.corr {
    grid-area: corr;
    /* background-color:purple; */
    border: 1.8px dashed rgb(102, 101, 101);
    border-radius: 3px;
    margin: 2px;
}

.bias {
    grid-area: bias;
    /* background-color:pink; */
    border: 1.8px dashed rgb(102, 101, 101);
    border-radius: 3px;
    margin: 2px;
}

.modal-backdrop {
    background-color:rgba(202, 201, 201, 0.096);
    transition: none;
   
}

/* .modal-body {
    height: 380px;
} */

/* .tp-btn-modal-body {
    height: 420px;
} */

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:active {
    background-color: rgb(180, 180, 180);    
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.navcol {
    margin-left: 5px;
}

.scatter-dropdown {
    background-color: white;
    border-color: gray;
    /* height: 18px; */
    height: fit-content;
    font-size: 14px;
}

/* Hide other elements when in fullscreen mode */
.fullscreen-spatial .temporal,
.fullscreen-spatial .corr,
.fullscreen-spatial .bias {
    display: none;
}
